# Your contact info
REACT_APP_PROVIDER_LEGAL_NAME=
REACT_APP_PROVIDER_LOGO_URL=
REACT_APP_PROVIDER_IMPRINT_URL=
# OAuth toggles (y = yes, n = no)
REACT_APP_OAUTH_FACEBOOK=n
REACT_APP_OAUTH_TWITTER=n
REACT_APP_OAUTH_GOOGLE=n
REACT_APP_OAUTH_MICROSOFT=n
REACT_APP_OAUTH_APPLE=n
# Google ReCaptcha v2 key, empty to disable
REACT_APP_RECAPTCHA_KEY=
# Sentry configuration (see https://docs.sentry.io/platforms/javascript/#configure)
REACT_APP_SENTRY_DSN=
REACT_APP_SENTRY_ENABLED=false
REACT_APP_SENTRY_SAMPLE_RATE=0.0
REACT_APP_SENTRY_ENV=local-dev
REACT_APP_SENTRY_RELEASE=dev # Sentry release version (suggestion: set dynamically to git commit hash in your CI)

# dev server settings
#BACKEND_PROXY={ "target": "https://dev.ident.services", "secure": true, "changeOrigin": true }